body{
    background-color:cadetblue;
}

.shots-sidebar{
    background-color: #434373;
    max-height: 500px;
    overflow: auto;
}

.main{
    max-width: 1500px;
    margin: auto;
}

.video-wrap {
    background-color: #434373;
    max-height: 500px; 
    position:relative
}

.icons-sidebar{
    max-height: 500px;
    overflow: auto;
}

.icon-item img{
    width: 25%;
}
#video{
    
    /* visibility: hidden; */
}

#camera-files{
    display: flex;
    justify-content: space-evenly;
}

.splide-outer{
    position: absolute;
    top:0;
    left: 0;
    display: block;
}

