.video-wrap {
    background-color: #2b2b2d;
    height: 480px;
    width: 718px;
    position:relative
}

#video{
    visibility: hidden;
}

#camera-files{
    display: flex;
    justify-content: space-evenly;
}

.splide-outer{
    position: absolute;
    top:0;
    left: 0;
    display: block;
}

.splide__slide img{
    width: 25%;
}
