<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">                                                                                                                                              
</head>
<body>
    <h1>Camagru</h1>
    <span id="ErrorMsg"></span>
    <div class="video-wrap" id="video-block">
        <video id="video" playsinline autoplay></video>
        <div class="video-buttons">
            <img src="./img/camera.png" alt="camera" id="camera-img">
            <label for="uploader">
                <img src="./img/files.png" alt="files">
            </label>
            <input type="file" id="uploader" style="display: none"></input>
        </div>
    </div>
    <div class="controller">
        <button id="snap">Capture</button>
    </div>

    <canvas id="canvas" width="640" height="480"></canvas>
</body>
<script>
    const docWidth = document.body.clientWidth;
    const cameraWidth = docWidth > 1280 ? docWidth / 2.2 : docWidth / 1.5
    const video_block = document.getElementById("video-block")
    const camera_img = document.getElementById("camera-img")
    video_block.style.width = JSON.stringify(cameraWidth) + 'px'
    console.log(JSON.stringify(cameraWidth) + 'px')
    const video = document.getElementById('video')
    const canvas = document.getElementById('canvas')
    const snap = document.getElementById('snap')
    const errorMsgElement = document.getElementById('ErrorMsg')

    const constraints = {
        audio: false,
        video : {
            width: cameraWidth, height: 500
        },
    }
    camera_img.addEventListener("click", async()=>{
        async function init(){
            try{
                const stream = await navigator.mediaDevices.getUserMedia(constraints)
                handleSuccess(stream)
            }
            catch(err){
                errorMsgElement.innerHTML = `navigator.mediaDevices.getUserMedia: ${err.toString()}`
            }
        }
        function handleSuccess(stream){
            console.log(stream)
            window.stream = stream
            video.srcObject = stream
        }
        init()
    })


    var context = canvas.getContext('2d')
    snap.addEventListener("click", function(){
        context.drawImage(video, 0, 0, 640, 480)
    })
</script>
</html>