<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">   
</head>
<body>
    <h1>Camagru</h1>
      
    <div class="main grid grid-cols-12 gap-4">
        <div class="shots-sidebar col-span-3">
          <h1 class="text-center">Your Photos here</h1>
        </div>
        <div class="video-wrap col-span-6" id="video-block">
            <video id="video" playsinline autoplay></video>
            <canvas id="canvas"></canvas>
            <div id="snap_icon" class="canvas-footer">
                <img src="img/shutter.png" alt="">
            </div>
            <div id="camera-files">
                <img src="./img/camera.png" alt="camera" id="camera-png">
                <input type="file" id="files" style="display: none;" accept=".jpg, .jpeg, .png">
                <label for="files" accept=".jpg, .jpeg, .png">
                    <img src="./img/folder.png" alt="files">
                </label>
            </div>
            <div id="canvas-footer-buttons" class="canvas-footer">
                <img src="./img/repeat.png" alt="">
                <img src="./img/upload.png" alt="">
            </div>
        </div>
        <div class="icons-sidebar col-span-3">
            <ul>
                <li class="icon-item"><img id="first_img" src="./img/stickers/bee.png" alt=""></li>
                <li class="icon-item"><img src="./img/stickers/chick.png" alt=""></li>
                <li class="icon-item"><img src="./img/stickers/coala.png" alt=""></li>
                <li class="icon-item"><img src="./img/stickers/dog.png" alt=""></li>
                <li class="icon-item"><img src="./img/stickers/elephant.png" alt=""></li>
            </ul>
        </div>   
        <!-- <div class="controller">
            <button id="snap">Capture</button>
        </div> -->
    </div>
    <div id="div"></div>
    
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script src="./scripts/icon_drag.js"></script>
<script src="./scripts/index.js"></script>
<!-- <script src="./scripts/drag.js" type="module"></script> -->
</html>