<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">   
    <link rel="stylesheet" href="./scripts/splide-4.1.3/dist/css/splide.min.css">                                                                                                                                           
</head>
<body>
    <h1>Camagru</h1>
    <div class="video-wrap" id="video-block">
        <div class="splide-outer">
            <section class="splide" aria-labelledby="carousel-heading" id="splide-inner">
                <div class="splide__track">
                      <ul class="splide__list">
                          <li class="splide__slide"><img src="./img/stickers/bee.png" alt=""></li>
                          <li class="splide__slide"><img src="./img/stickers/chick.png" alt=""></li>
                          <li class="splide__slide"><img src="./img/stickers/coala.png" alt=""></li>
                          <li class="splide__slide"><img src="./img/stickers/dog.png" alt=""></li>
                          <li class="splide__slide"><img src="./img/stickers/elephant.png" alt=""></li>
                          <li class="splide__slide"><img src="./img/stickers/hen.png" alt=""></li>
                      </ul>
                </div>
              </section>
        </div>
        <video id="video" playsinline autoplay>
        </video>
        <div id="camera-files">
            <img src="./img/camera.png" alt="camera" id="camera-png">
            <input type="file" id="files" style="display: none;">
            <label for="files">
                <img src="./img/folder.png" alt="files">
            </label>
        </div>
    </div>
    <div class="controller">
        <button id="snap">Capture</button>
    </div>


    <canvas id="canvas" width="640" height="480"></canvas>
</body>
<script src="./scripts/splide-4.1.3/dist/js/splide.min.js"></script>
<script type="module">
    import interact from 
    'https://cdn.interactjs.io/v1.10.27/interactjs/index.js'
    
    interact('.item').draggable({
      listeners: {
        move (event) {
          console.log(event.pageX,
                      event.pageY)
        }
      }
    })
    </script>
<script>
    const docWidth = document.body.clientWidth;
    const cameraWidth = docWidth > 1280 ? docWidth / 2.2 : docWidth / 1.5
    const video_block = document.getElementById("video-block")
    const camera_img = document.getElementById("camera-png")
    const camera_files = document.getElementById("camera-files")
    video_block.style.width = JSON.stringify(cameraWidth) + 'px'
    console.log(JSON.stringify(cameraWidth) + 'px')
    const video = document.getElementById('video')
    const canvas = document.getElementById('canvas')
    const snap = document.getElementById('snap')
    const errorMsgElement = document.getElementById('ErrorMsg')

    const constraints = {
        audio: false,
        video : {
            width: cameraWidth, height: 500
        },
    }
    camera_img.addEventListener("click", async()=>{
        async function init(){
            try{
                const stream = await navigator.mediaDevices.getUserMedia(constraints)
                handleSuccess(stream)
            }
            catch(err){
                errorMsgElement.innerHTML = `navigator.mediaDevices.getUserMedia: ${err.toString()}`
            }
        }
        function handleSuccess(stream){
            console.log(stream)
            window.stream = stream
            video.srcObject = stream
            camera_files.style.display = 'none'
            var splide = new Splide( '.splide', {
                perPage: 4,
                focus  : 0,
                omitEnd: true,
            } );
            splide.mount();   
        }
        init()
    })

    const mike_img = document.createElement('img')
    mike_img.src = './img/mike.jpeg' 
    video_block.style.cssText = `
        background: url(./img/mike.jpeg);
        background-size: contain;
        background-repeat: repeat;`

    console.log(video_block)
    // mike_img.style.width = '100%'
    var context = canvas.getContext('2d')
    snap.addEventListener("click", function(){
        context.drawImage(video, 0, 0, 640, 480)
    })
</script>
</html>